.bmbm{
    position: absolute;
    width: 900px;
    height: 940px;
    left: 400px;
    top: 270px;
    margin-bottom: 20px;
}
.toptop{
    border: 1px solid red;
    position: absolute;
    width: 400px;
    height: 100px;
    left: 640px;
    top: 80px;

}
.midmid{
    position: absolute;
    left: 390px;
    top: 200px;
    width: 900px;
    height: 50px;
}
.cdcd{
    border: 1px solid rgb(146, 101, 108);
    position: absolute;
    left: 650px;
    top: 1240px;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;

}
.menubarbar{
    position: absolute;
    left: 100px;
    top: 300px;
    width: 200px;
    height: 500px;

}
.market_main{
    width: 1000px;
    height: 800px;
    margin-bottom: 100px;
    position: absolute;
    left: 350px;
    top: 300px;
}
.write_meeting{
    position: absolute;
    top: 1220px;
    left: 1200px;
    
}