.marketbody{
    width: 1000px;
    height: auto;
    
    background-color: white;
    margin-bottom: 30px;
}
.market_img{
    width: 500px;
    height: 400px;
    margin-left: 258px;
    margin-top: 40px;
   
}
.img_button1{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 200px;
    right: 200px;
}
.img_button2{

    width: 30px;
    height: 30px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.user_nickname{
    background-color: rgb(238, 235, 235);
    border-radius: 14px;
    width: 700px;
    height: 60px;
    margin-top: 50px;
    margin-left: 160px;
}
.user_img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 100px;
    width: 55px;
    height: 50px;
    float: left;
}
.user_img img{
    border-radius: 100px;
    width: 45px;
    height: 40px;
}
.user_name_part{
    
    width: 300px;
    height: 40px;
    margin-left: 20px;
    padding-top: 15px;
    float: left;

}
.user_name_part p{
    margin-top: 0px;
    font-size: 17px;
    width: auto;
    font-weight: bold;
}
.market_title{
    margin-left: 158px;
    margin-top: 10px;
    width: 700px;
    background-color: rgb(238, 235, 235);
    border-radius: 14px;
    height: auto;
}
.market_title p{
    font-weight: bold;
    font-size: 17px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 16px;
    margin: 0px;
}
.market_body_text{
    width: auto;
    height: auto;
    padding-bottom: 30px;
    margin-left: 20px;
    font-size: 17px;
}
.soldout{
    width: 100px;
    height: 35px;
    float: right;
    margin-right: 50px;
    margin-top: 0px;
    font-size: 20px;
    color: red;
    font-weight: bold;

}

.love_this{
    
    margin-left: 438px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: bold;
}
.love_this img{
    height: 40px;
    width: 45px;
    border-radius: 100px;
}
.comment_div{
    background-color: white;
    width: 1000px;
    min-height: 100px;
}
.comment_title{
    width: 1000px;
    height: 30px;
    background-color: white;
    border-bottom: 1px solid rgb(228, 228, 228);
    border-top: 1px solid rgb(228, 228, 228);
}
.comment_title p{
    margin-left: 40px;
    font-weight: bold;
    margin-top: 3px;
}
.comments_line{
    display: inline-block;
    background-color: white;
    width: 1000px;
    min-height: 30px;
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-top: 5px;
}
.comments_line2{
    display: inline-block;
    background-color: white;
    width: 1000px;
    min-height: 30px;
    border-top: 1px solid rgb(228, 228, 228);
    margin-top: 5px;
}
.comments_line img{
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    float: left;
}
#recomment_picture1{
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
    float: left;
}
#recomment_picture2 {
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    float: left;
}
.comments_body{
    padding-top: 7px;
    margin-left: 80px;
}
.comments_body2{
    padding-top: 7px;
    margin-left: 140px;
}
.comments_body a{
    text-decoration: none;
    color: black;
}
.comments_body2 a{
    text-decoration: none;
    color: black;
}
.comments_body input{
    margin-left: 10px;
    width: 45px;
    height: 20px;
    font-size: 10px;
}
.comments_body2 input{
    margin-left: 10px;
    width: 45px;
    height: 20px;
    font-size: 10px;
}
#comments_time{
    margin-left: 20px;
    font-size: 13px;
    padding-top: 20px;
}
#comments_text{
    font-size: 17px;
}
.comments_popover .MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    width: 90px;
    height: auto;
}
.comments_popover a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 22px;
    font-weight: 700;
}
.comments_popover a:hover{
    background-color: cornflowerblue;
}
.recomment_main{
    border-top: 1px solid rgb(228, 228, 228);
}
.recomment_input{
    border-top: 1px solid rgb(228, 228, 228);
}
.recomment_input label{
    margin-left: 20px;
    font-size: 13px;
}
.recomment_input input{
    width: 700px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid white;
    padding-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgb(247, 243, 243);
}