@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');
.titlea{
   
    width: 400px;
    height: 40px;
    text-align: center;
    background-color: #cff1ef;
}
.titlea p{
    margin-top: 0px;
    font-family: 'Gamja Flower', cursive;
    font-size: 35px;
    
}

.form{
    width: 400px;
    height: 577.600;
    background-color:  white;
   
}
.idinput{
    
    width: 380px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20PX;
    margin-bottom: 10PX;
    
}
.idinput input{
    background-color: white;
    margin-left: 0px;
}
.idinput p{
    font-family: 'Jua', sans-serif;
    margin-left: 45px;
    margin-bottom: 8px;
    margin-top: 0px;
    color: #8e8e8e;
}
.idinput label{
    font-family: 'Jua', sans-serif;
}


.idinput button{
    margin-top: 3px;
    margin-left: 15px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Jua', sans-serif;
}
.nickinput{
   
    width: 380px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20PX;
    margin-bottom: 10PX;
    
}
.nickinput input{
    background-color: white;
    margin-left: 0px;
}
.nickinput p{
    font-family: 'Jua', sans-serif;
    margin-left: 45px;
    margin-bottom: 8px;
    color: #8e8e8e;
}
.nickinput label{
    font-size: 15px;
    font-weight: bold;
}
.nickinput button{
    margin-top: 3px;
    margin-left: 15px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Jua', sans-serif;
}

.pwinput{
   
    width: 300px;
    height: 80px;
    margin-top: 20px;
    margin-left: 62px;
    
}
.pwinput p{
    font-family: 'Jua', sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
    color: #8e8e8e;
}
.pw2input p{
    font-family: 'Jua', sans-serif;
    margin-left: 52px;
    margin-bottom: 8px;
    margin-top: 1px;
    color: #8e8e8e;
}
.pwinput label{
    font-weight: bold;
}
.pw2input label{
    font-weight: bold;
}
.pwinput input{
    margin-left: 10px;
    height: 20px;
    width: 160px;
    background-color: white;
    margin-left: 0px;

}
.pw2input{
   
    width: 380px;
    height: 100px;
    margin-top: 0px;
    margin-left: 20PX;
    margin-bottom: 10PX;
}
.pw2input input{
    margin-left: 10px;
    height: 20px;
    width: 160px;
    background-color: white;
    margin-left: 0px;

}
.pw2input button{
    margin-left: 20px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Jua', sans-serif;
}

.emailinput{
    
    width: 340px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20PX;
    margin-bottom: 10PX;
}
.emailinput p{
    font-family: 'Jua', sans-serif;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 1px;
    color: #8e8e8e;
}
.emailinput input{
    width: 98px;
    margin-left: 6px;
    background-color: white;
    margin-left: 0px;
}
.emailinput label{
    font-weight: bold;
}
.emailinput button{
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Jua', sans-serif;
}

.emailsearch{
    margin-top: 20px;
    
}
.emailsearch Button{
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Jua', sans-serif;
}
.changwonackr{
    margin-left: 13px;
    width: 125px;
    height: 20px;
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Jua', sans-serif;
}
.changwonackr p{
   
    
}
#submit{
    margin-top: 25px;
    margin-left: 330px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Jua', sans-serif;
    width: 70px;
    height: 40px;
}
#pwdiv{
    
    width: 350px;
    margin-left: 0px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10PX;
}
#pwdiv p{
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Jua', sans-serif;
    font-size: 13px;
}
.toast {
    text-align: center;
}