
.titlea{
   
    width: 400px;
    height: 40px;
    text-align: center;
    background-color: #cff1ef;
}
.titlea p{
    margin-top: 0px;
    font-family: 'Gamja Flower', cursive;
    font-size: 35px;
    
}

.form{
    margin-left: 0px;
    width: 500px;
    height: 577.600;
    background-color:  white;
}
.idinput{
    
    width: 380px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20PX;
    margin-bottom: 0PX;
    
}
.idinput input{
    background-color: white;
    margin-left: 0px;
}
.idinput p{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 500px;
    color: #000000;
}


.idinput button{
    margin-top: 3px;
    margin-left: 15px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 0px;
}
.nickinput{
   
    width: 380px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20PX;
    margin-bottom: 0PX;
    
}
.nickinput input{
    background-color: white;
    margin-left: 0px;
}
.nickinput p{
    margin-left: 10px;
    margin-bottom: 0px;
    width: 500px;
    color: #000000;
}
.nickinput label{
    font-size: 15px;
    font-weight: bold;
}
.nickinput button{
    margin-top: 3px;
    margin-left: 15px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.pwinput{
   
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.pwinput p{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 500px;
    color: #000000;
}
.pw2input p{
    margin-left:10px;
    margin-bottom: 8px;
    margin-top: 1px;
    width: 550px;
    color: #000000;
}
.pwinput label{
    font-weight: bold;
}
.pw2input label{
    font-weight: bold;
}
.pwinput input{
    left: 40px;
    margin-left: 10px;
    height: 20px;
    width: 160px;
    background-color: white;
}
.pw2input{
   
    width: 380px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20PX;
    margin-bottom: 10PX;
}
.pw2input input{
    margin-left: 20px;
    background-color: white;

}
.pw2input button{
    margin-left: 20px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.emailinput{
    
    width: 380px;
    height: 50px;
    margin-top: 0px;
    margin-left: 20PX;
    margin-bottom: 10PX;
}
.emailinput p{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 550px;
    color: #000000;
}
.emailinput input{
    width: 98px;
    margin-left: 6px;
    background-color: white;
    margin-left: 0px;
}
.emailinput label{
    font-weight: bold;
}
.emailinput button{
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.emailsearch{
    margin-top: 10px;
    
}
.emailsearch Button{
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.changwonackr{
    margin-left: 13px;
    width: 125px;
    height: 20px;
    font-size: 25px;
    margin-left: 10px;
}
 
#submit{
    margin-top: 30px;
    margin-left: 430px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 70px;
    height: 40px;
}
#pwdiv{
    
    width: 350px;
    margin-left: 0px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10PX;
}
#pwdiv p{
    margin-top: 3px;
    margin-left: 10px;
    font-size: 13px;
}
.toast {
    text-align: center;
}