.aaas{
    background-color: white;
    width: 200px;
    bottom: auto;
    height: auto;
    font-size: 3px;
    box-shadow:1px 1px 4px rgb(207, 207, 207);
}
.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock{
    font-size: 10px;
}
._body{
    font-weight: bold;
}
