
.select{
    position: absolute;
    top:8px;
    width:130px;
    height: 100px;
    left:-1px;
}

.searchType{
    position: absolute;
   border: 2px solid white;
   border-bottom: 2px gray ;
   border-radius: 34px;       /*둥글게*/
    padding-left: 10px;        /*왼쪽에 공백 공간을 둔다.      */
    width: 120px;
    height: 34px;
}


.root{
    position: absolute;
    width: 800px;
    height: 50px;
    padding-left: 120px;

}
.root.MuiPaper-rounded {
    border-radius: 24px;
    border: 3px solid #000544;
}
.input{
    position: absolute;
    padding-left: 10px;             /*왼쪽에 공백 넣기*/
    top:3px;
    height:34px;
    width:430px;
}
.iconButton {
    position: absolute;
    top:1px;
    padding: 10;
}
