.clubcard {
    
    width: 250px;
    height: 320px;
    text-align: center;
}

.marcketingMent{
    margin-top:-25px;
    margin-left:3px;
    text-align: center;
    width:210px;
}
.clubcard.MuiPaper-elevation1 {
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 4px 2px rgba(0,0,0,0.12);
}

.clubimageArea{
    margin-top:0px;
    widows: 300px;
    height:150px;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}