.root{
    background-color: #f8f8f8;
}
.home_image{
  
    height: 200px;
    width: 100%;
    position: absolute;
    top: 68px;
    margin-top: 10px;
    background-color: #f8f8f8;

}
.illust{

    position: absolute;
    height: 180px;
    width: 800px;
    margin-left: 385px;
    box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
    
}
.home_body{
    width: auto;
    height: auto;
    position: absolute;
    top: 278px;
    background-color: #f8f8f8;

}
.home_paper{
    height: 600px;
    width: 1000px;
    margin-left: 300px;
    position: absolute;
    
}
.home_bottom{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 900px;
    
}
.bottom_div{
    border: 1px solid black;
    height: 200px;
    width: 1200px;

}
.home_bottom_paper{
    height: 180px;
    width:1200px;

}
.home_bottom_paper p{
    font-size: 15px;
    margin: 0;
    margin-left: 50px;
    margin-bottom: 0px;
}
.home_bottom_paper a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(131, 131, 131);
    margin: 0;
}
.bottom1{

    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 290px;
    margin-top: 10px;
    
}
p.bottom_title {
    font-size: 14px;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
    color: rgb(124, 124, 124);
    font-weight: bold;
}
.bottom2{

    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 450px;
    margin-top: 10px;
    
}
.bottom3{

    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 610px;
    margin-top: 10px;
}
.bottom4{

    width: 150px;
    height: 150px;
    margin-left: 770px;
    position: absolute;
    margin-top: 10px;
}
.bottom5{

    width: 150px;
    height: 150px;
    margin-left: 930px;
    position: absolute;
    margin-top: 10px;
}
.bottom6{

    width: 150px;
    height: 150px;
    margin-left: 1090px;
    position: absolute;
    margin-top: 10px;
}
.baner1{
    
    width: 150px;
    height: 250px;
    position: absolute;
    margin-left: 150px;
    margin-top: 400px;
    box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
}
.baner2{
    
    width: 150px;
    height: 300px;
    position: absolute;
    margin-left: 1290px;
    margin-top: 300px;
    box-shadow: 2px 2px 2px 2px rgb(224, 224, 224);
}
.waagle{
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 1280px;
    margin-top: 770px;
}
.login_icon {
    right: 200px;
    top:100px;
    position: absolute;
}