 .MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.header.mui-fixed.MuiPaper-elevation4{
    width: auto;
    left: 0px;
}
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary.header.mui-fixed.MuiPaper-elevation4 {
    color: white;
    background-color: #000544;
}
.app_main img{
    margin-left: 100px;
    margin-right: 100px;
}
a{
    text-decoration: none;
    color: black;
}
.campus .MuiButton-label {
  
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: white;
    font-weight: bold;
    min-width: 60px;
}
.community .MuiButton-label {
  
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: white;
    font-weight: bold;
    min-width: 60px;
}
.employment .MuiButton-label {
  
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: white;
    font-weight: bold;
    min-width: 60px;
}

.imformation .MuiButton-label {
  
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: white;
    font-weight: bold;
    min-width: 60px;
}
.notice .MuiButton-label {
  
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: white;
    font-weight: bold;
    min-width: 60px;
}
body {
    display: block;
    margin: 0px;
}
@media screen and (max-width: 839px){
    .login_icon {
        display: none;
        padding: 0;

    }
    
}
.switchbar .MuiTouchRipple-root{

}
.switchbar li{
    margin-left: 90px;
}

.login_icon {
    
    right: 200px;
    position: absolute;
}
.MuiToolbar-root .MuiToolbar-regular .MuiToolbar-gutters{
    max-height: 100px;
   
}
.MuiTypography-h6 {
    padding-right: 120px;
    padding-left: 200px;
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    max-height: 30px;
    min-width: 140px;
}
.MuiToolbar-root {
   
    position: relative;
    align-items: center;
    max-height: 30px;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    padding: 6px 25px;
}
.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 100px;
}
.header.MuiAppBar-colorPrimary {
    color: white;
    background-color: #5c4d99;
}
.MuiPaper-elevation4 {
    box-shadow: 0px;
}